GOOGLE_CLOUD_LOCATION=""
GOOGLE_CLOUD_PROJECT=""
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY="" # Your Google API key
# GOOGLE_CLOUD_STAGING_BUCKET=gs://simulation-guide-agent # Your Google Cloud Storage bucket name
# The bucket name should be in the format gs://<bucket-name>
GOOGLE_CLOUD_STAGING_BUCKET=""


AGENT_SERVICE_NAME=""
AGENT_PATH="./simulation-guide"
AGENT_APP_NAME=""
#for deploy to Cloud Run
AGENT_SERVICE_ACCOUNT=""

# Vertex backend config
REASONING_ENGINE_APP_NAME=""


GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

BOOKING_CALENDAR_ID=""
BOOKING_TIMEZONE=""


# PAYSTACK
PAYSTACK_SANDBOX_SECRET_KEY=""
PAYSTACK_SANDBOX_PUBLIC_KEY=""

PAYSTACK_LIVE_SECRET_KEY=""
PAYSTACK_LIVE_PUBLIC_KEY=""
PAYSTACK_ENV=""