.env
__pycache__/
.venv/
.env.*
*.env
env/
env.*
# Ignore all environment variable files and folders

frontend/dist/
frontend/node_modules/
.firebase/
.vscode/


sim-guide-agent-service-account.json
client_secret_*.json

sessions.db
firestore-debug.log
firebase-debug.log
ui-debug.log

taajirah-firebase-adminsdk-kc3vd-59e0de2c62.json
